.buttonWrapper {
    display: inline-block;
  }
  
  .button {
    /* background: #333; */
    color: black;
    font-size: 18px;
    border: 1px solid black;
    padding-top: 5px;
    vertical-align: bottom;
    height: 34px;
    width: 36px;
    border-radius: 50%;
  }
  
  .button svg {
    fill:#000000ad;
  }
  
  .button:hover, .button:focus {
    /* background: #444; */
    outline: 0; /* reset for :focus */
    cursor: pointer;
  }
  
  .active {
    color: #6a9cc9;
  }
  
  .active svg {
    fill: #6a9cc9;
  }